.fotoUsuario {
      background-image: url('https://www.ofuxico.com.br/img/upload/noticias/2021/04/19/neymar-responde-que-esta-interessado-em-alguem-e-ainda-nao-desistiu-do-amor_401517_36.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}