@tailwind base;
@tailwind components;
@tailwind utilities;

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.header-nav {
      @apply w-full h-[13%] flex items-center pl-3 rounded-lg cursor-pointer font-hind;
}

.rounded-ltmd {
      border-top-left-radius: '6px';
}

.rounded-rtmd {
      border-top-right-radius: '6px';
}

.table-container::-webkit-scrollbar {
      width: 6px;
}

.table-container::-webkit-scrollbar-track {
      background: #FEFEFE;
}

.table-container::-webkit-scrollbar-thumb {
      background-color: #444;
      border-radius: 6px;
}

.table-container::-webkit-scrollbar-thumb:hover {
      background-color: #666;
}